#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card button {
  padding: 2em;
  width: 500px;
  height: 300px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  margin-top: 3px;;
  border: 3px solid gray;
}

.input {
  background: white;
  border: 2px solid lightgray;
  border-radius: 3px;
}

.card {
  perspective: 1000px;
}

.card-flip {
  transform: rotateY(360deg);
}

/* const colors  = {
  "Biology": "green",
  "Political Science": "orange",
  "Mathematics": "blue",
  "Literature": "yellow:",
  "Physics": "purple"
} */